.kick808 {
    border: none;
    background: none
}
.snare808 {
    background: none;
    border: none;
}
.clap808 {
    border: none;
    background: none;
}
.hihatopen808 {
    border: none;
    background: none;
}
.hihatclosed808 {
    border:none;
    background: none;
}